accelerate==0.21.0
datasets==2.12.0
evaluate==0.4.0
germansentiment==1.1.0
geodatasets==2023.3.0
geopandas==0.13.2
matplotlib==3.6.0
numpy==1.21.2
pandas==1.4.2
seaborn==0.12.0
shap==0.43.0
transformers==4.30.1
